.payment-method-page {
  background-color: red;
  .options-container {
    display: grid;
    grid-template-rows: 1fr, auto;
    background-color: blue;
    .container {
      display: flex;
      align-items: center;
    }
    .card-container {
    }
  }
}
