@use "../core/breakpoints" as *;

.products-page {
  padding-inline: var(--section-padding-inline);
  padding-bottom: 2rem;

  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
    color: var(--color-text-light);

    button,
    select {
      all: unset;
      font-size: var(--font-size-l);
      cursor: pointer;
    }

    button {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    // Adds back arrow on select
    select {
      background-color: var(--color-bg);
      text-align: end;
      -webkit-appearance: auto;
      appearance: auto;
      width: fit-content;
    }
  }

  .no-products-container {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h1 {
      width: 100%;
      text-align: center;
    }

    p {
      font-size: 18px;
      font-weight: 700;
      color: var(--color-text-light);
    }
  }

  .product-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @include sm {
      grid-template-columns: repeat(3, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(4, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
