// Global styling & helper classes
@use "breakpoints" as *;
a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: var(--max-content-width);
  margin-inline: auto;
}
