.contact-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--color-bg-overlay);
  z-index: 1;

  .content {
    min-height: 100%;
    width: min(80%, 20rem);
    background-color: var(--color-text);
    padding: 1rem;
    color: var(--color-bg);
  }
  &.closed {
    left: -100%;
  }
}
.contact-burger-button {
  background-color: transparent;
  border: none;
}
