.toasts {
  position: fixed;
  left: 1.25rem;
  right: 1.25rem;
  margin-top: 2rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.toast {
  pointer-events: all;
  color: var(--color-bg);
  font-weight: 800;
  background-color: var(--color-success);
  backdrop-filter: blur(8px);
  border: 2px solid var(--color-success);
  padding: 1rem;
  border-radius: 1rem;
  width: fit-content;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10%,
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
