.button {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition-property: color, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.button-black {
  background-color: var(--color-text);
  color: var(--color-bg);
  &:hover,
  &:focus-visible {
    background-color: var(--color-bg-grey);
  }
  &:active {
    filter: brightness(0.8);
  }
}

.button-white {
  background-color: var(--color-bg);
  &:hover,
  &:focus-visible {
    background-color: var(--color-bg-grey);
    color: var(--color-bg);
  }
  &:active {
    filter: brightness(0.8);
  }
}
