.contact-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: min(80%, 30rem);
  background: var(--color-text);
  z-index: 3;
  transition: left 0.3s ease;
  color: var(--color-bg);

  &.closed {
    left: -100%;
    pointer-events: none;
  }

  .contact-container {
    padding-top: 6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .content-top {
      width: 100%;
      flex: 1;
    }
    h2 {
      padding-bottom: 2rem;
      padding-left: 2rem;
      font-size: 2rem;
    }

    a {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      flex-wrap: wrap;
      border-bottom: 1px solid gray;
      padding-bottom: 2rem;
      padding-left: 1rem;
      color: var(--color-text-faded);
      text-decoration: none;

      p {
        padding-left: 0.5rem;
      }
    }
    .icon {
      border-radius: 50%;
      outline: 2px solid var(--color-text-faded);
      outline-offset: 0.5rem;
      display: inline-flex;
      justify-content: center;
      margin: 1rem;
      color: var(--color-bg);
    }

    .content-bottom {
      padding-bottom: 4rem;
      padding-left: 2rem;
      color: var(--color-text-faded);
      p {
        font-size: 1rem;
        padding-bottom: 1rem;
      }
      input {
        all: unset;
        height: 3rem;
        border-radius: 2.5rem;
        padding-left: 1rem;
        background-color: var(--color-text);
        border: 1px solid var(--color-text-faded);
      }
      .input-container {
        position: relative;
        display: grid;
        padding-right: 2rem;
        button {
          position: absolute;
          top: 50%;
          right: 2.25rem;
          transform: translateY(-50%);
          border: 0;
          padding: 0;
          background: transparent;
          color: var(--color-text-faded);
          border-radius: 50%;
          width: 2.6rem;
          height: 2.6rem;
          background-color: var(--color-text-light);
          color: var(--color-text);
          .container-arrow {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}
.contact-burger-button {
  background-color: transparent;
  border: none;
  width: fit-content;
}

.contact-bg {
  position: fixed;
  inset: 0;
  z-index: 2;
  transition: opacity 0.3s ease;
  background-color: var(--color-bg-overlay);
  &.closed {
    opacity: 0;
    pointer-events: none;
  }
}
