@use "../core/breakpoints" as *;

.filter-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: min(80%, 30rem);
  background: var(--color-text);
  z-index: 2;
  transition: left 0.3s ease;
  color: var(--color-bg);

  &.closed {
    left: -100%;
    pointer-events: none;
  }

  .container-filter-menu {
    padding-top: 6rem;
    height: 100%;
    width: fit-content;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr; 
    padding-left: 1.75rem;
    gap: 1em;

    @include sm {
      grid-template-columns: 1fr 1fr;
      column-gap: 4em;
      margin-inline: auto;
      padding-left: 0;
    }

    .category-container,
    .tag-container {
      display: grid;
      width: 100%;
      max-width: 100%;
      height: fit-content;

      h2 {
        margin-bottom: 0.25rem;
      }

      button {
        font-size: 18px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &:hover {
          text-decoration: underline;
        }

        .checkbox-container {
          display: flex;
          justify-content: center;
          align-items: center;

          .lucide-check {
            position: absolute;
          }
        }
      }
    }
  }
}

.filter-bg {
  position: fixed;
  inset: 0;
  z-index: 1;
  transition: opacity 0.3s ease;
  background-color: var(--color-bg-overlay);
  &.closed {
    opacity: 0;
    pointer-events: none;
  }
}
