.image-slider {
  button {
    background: transparent;
    border: none;
  }
  .images-wrapper {
    position: relative;
    button {
      position: absolute;
      top: 0;
      bottom: 0;
      opacity: 0.5;
    }
    .right {
      right: 0;
    }
  }
  .images {
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    img {
      scroll-snap-align: start;
      min-width: 100%;
    }
  }
  .bullets {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1.25rem;
    button {
      border-radius: 1rem;
      background-color: var(--color-text);
      height: 8px;
      width: 8px;
      padding: 0;
      border: 2px solid;
      transition-property: width, background-color;
      transition-duration: 300ms;
      transition-timing-function: ease;
      &.current {
        width: 20px;
        background-color: transparent;
      }
    }
  }
}
