.main-nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  color: var(--color-text-light);
  position: sticky;
  bottom: 0;
  gap: 1rem;

  a {
    gap: 0.5rem;
    display: flex;
    position: relative;
    padding: 0.5rem;
    &:hover {
      background-color: var(--color-blue);
      border-radius: 2rem;
    }
  }
}
