@use "../core/breakpoints" as *;
.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }
  gap: 1rem;
  margin-block: 1.5rem;
  padding-inline: var(--section-padding-inline);
}
