.reset-password-page {
  display: flex;
  flex-direction: column;
  padding-inline: var(--section-padding-inline);
  padding-top: 2rem;
  max-width: 600px;
  margin-inline: auto;

  .ingress {
    padding-bottom: 2rem;
    color: var(--color-text-light);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;

    .input-container {
      font-size: var(--font-size-xs);
      position: relative;
      display: grid;
      & > button,
      & > svg {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        border: 0;
        padding: 0;
        background: transparent;
        border-radius: 50%;
        color: var(--color-text);
      }
    }
    input {
      color: var(--color-text-light);
    }
  }
}
