.signin-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 4rem;
  padding-inline: var(--section-padding-inline);
  max-width: 600px;
  margin-inline: auto;

  h1 {
    font-size: var(--font-size-xl);
  }
  h3 {
    color: var(--color-text-light);
    font-size: var(--font-size-m);
    padding-bottom: 1.5rem;
  }
  p {
    color: var(--color-text);
    padding-bottom: 2rem;
  }

  form {
    width: 100%;
    & > .button {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .redirect-link {
      &:hover {
        text-decoration: underline;
      }
    }

    .checkbox {
      margin-right: 0.5rem;
    }
  }

  .signin-detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1.5rem;
    color: var(--color-text);
  }

  .sign-in-button {
    &:hover {
      text-decoration: underline;
    }
  }
  .error {
    color: var(--color-danger);
    font-size: var(--font-size-xs);
    padding-left: 2rem;
  }

  .config-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    form {
      color: var(--color-text-faded);
    }
  }

  .signin-button-wrapper {
    padding-inline: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    width: 100%;
  }

  .signin-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 5rem;
    padding-block: 3rem;

    .image-icon {
      border: 1px solid var(--color-blue);
      border-radius: 50%;
      padding: 1rem;

      img {
        width: 1.5rem;
      }
    }
    .icon {
      padding: 1rem;
      border-radius: 50%;
      border: 1px solid var(--color-blue);
    }
    .facebook {
      color: var(--color-text-facebook);
    }
    .twitter {
      color: var(--color-text-twitter);
    }
  }
}
