.update-address-page {
  form {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-inline: var(--section-padding-inline);
    gap: 1rem;

    .button-black {
      margin-top: 0.5rem;
    }

    .button-delete {
        border: 1px solid var(--color-danger);
        color: var(--color-danger); 
        &:hover {
          background-color: var(--color-danger);
          color: var(--color-bg);
        }
    }

     .error {
      color: var(--color-danger);
      font-size: var(--font-size-xs);
      padding-left: 2rem;
    }
  }
}
