@use "../../core/breakpoints" as *;

.add-payment-card-page {
  padding-inline: var(--section-padding-inline);
  padding-block: 2rem;
  @include md {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-container {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  form {
    grid-column: 1/2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .row {
      width: 100%;
      display: flex;
      gap: 0.75rem;
      & > label {
        flex: 1;
      }
    }

    .button-delete {
      border: 1px solid var(--color-danger);
      color: var(--color-danger);
      &:hover {
        background-color: var(--color-danger);
        color: var(--color-bg);
      }
    }
  }
  .themed-dropdown {
    width: 100%;
    .selected {
      span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    button {
      padding: 0.75rem 1.5rem;
    }
  }
  .dropdown {
    margin-top: 0.5rem;
    position: relative;
  }
}
