@use "../../core/breakpoints" as *;

.checkout-page {
  padding-block: 2rem;
  h2 {
    font-weight: 400;
  }
  p {
    color: var(--color-text-light);
  }

  .container-top {
    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: var(--section-padding-inline);
      padding-bottom: 0.5rem;

      span {
        font-size: var(--font-size-l);
        font-weight: 400;
        color: var(--color-text);
      }
    }

    .specification {
      display: flex;
      flex-direction: column;
      background-color: var(--color-blue-light);
      padding-inline: 1.25rem;
      padding-block: 1rem;
      border-top: 4px solid var(--color-blue);
      border-bottom: 4px solid var(--color-blue);

      .checkout-product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 0.25rem;
        color: var(--color-text-light);
      }
    }
    a {
      display: block;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 4px solid var(--color-blue);
      padding-inline: var(--section-padding-inline);
      padding-block: 1rem;
      &.error {
        color: var(--color-danger);
      }
    }
    .info h2 {
      padding-bottom: 0.25rem;
    }
  }

  .container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    padding-inline: var(--section-padding-inline);
    padding-top: 3rem;
    padding-bottom: 4rem;

    .comment-field {
      position: relative;
      width: 100%;
      border-radius: 1rem;
      border: 2px solid var(--color-blue);
      padding: 0.5rem;
      &:focus-within {
        box-shadow: 0 0 10px var(--color-blue);
      }

      textarea {
        color: var(--color-text-light);
        font-weight: 600;
        width: 100%;
        height: 100%;
        resize: vertical;
        border: 0;
        padding: 0.5rem 1rem;
        min-height: 8rem;
        &:focus {
          outline: none;
        }
      }

      label {
        background-color: white;
        position: absolute;
        top: -0.85em;
        left: 1rem;
        padding-inline: 0.5rem;
        color: var(--color-text-light);
      }
    }
    .order-button {
      @include sm {
        .button {
          width: fit-content;
          margin-left: auto;
        }
      }
    }
  }
}
